.birthday {
  --primary-600: #a9ba70;
  --primary-500: #CCD5AE;
  --secondary-600: #D4A373;
  --secondary-500: #E7C8A0;
  --secondary-400: #FAEDCD;

  font-family: 'Kelly Slab', sans-serif;
  letter-spacing: 0.5px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  padding: 20px;

  background: var(--secondary-400);
  color: black;
  z-index: 10;
}

.talk {
  margin-top: 10px;
  font-size: 0.9rem;
}

.p {
  margin-top: 13px;
  font-size: 1rem;
}

.birthday .button {
  margin-top: auto;
  width: 100%;

  border: none;
  outline: none;
  padding: 10px;
  color: white;
  background-color: var(--primary-600);
  border-radius: 6px;

  font-family: 'Kelly Slab', sans-serif;
  letter-spacing: 0.5px;
}